In [2]:
nome = "bea"
nome = "triz"
nome

'triz'

In [4]:

#função type retorna o tipo de dado de um objeto
#exemplo
nome = "bea"
type(nome)

str

In [6]:

#print imprime saidas na tela e aceita um ou mais argumentos separados por virgulas e imprime a saida padrão no terminal
#ex
nome = "bea"
print("oi meu nome é:", nome)

oi meu nome é: bea

In [7]:

#input é utilizado para obter a entrada do usuário a partir do teclado
#ex
nome = input("nome")
idade = input("idade")

print("olá", nome, "sua idade é", idade)

olá eu sua idade é 23

In [9]:

#também pode ser escrito dessa forma o print com o input
nome = input("nome")
idade = input("idade")

print(f"Olá, {nome} você tem {idade} anos")

Olá, bea você tem 24 anos

In [10]:

#operações principais
#atribuição
x = 10
y = 14
soma = x + y
sub = x - y
mul = x*y
div = x/y

print(soma, sub, mul, div)

24 -4 140 0.7142857142857143

In [12]:

#operações de comparação
x = 10
y = 5

# = é atribuição, já o == é igual

print(x == 12) #igual
print(x == 10) #igual
print(x!= y) #diferente
print(x>y) #maior
print(x<y) #menor
print(x>y*2) #maior que y*2
print(x>=y*2) #maior ou igual que y*2

False
True
True
True
False
False
True

In [16]:
x = 10
print (0 < x and x < 100)

print((10 == x) or (10 == y))
print(not True)

print(False and True or True)
print(False and (True or True))

True
True
False
True
False

In [23]:

#lista
#indice, é mutável e ordenável
minha_lista = [1, 2.2, "três", 4]
minha_lista[2]

#propriedades 
#multinivel
minha_listinha = [9,[2,3]]

listatotal = minha_lista + minha_listinha
listatotal

listatotal.append('nove')
listatotal

listanumero = [9, 8, 7, 1, 2, 3, 4]
listanumero.sort()
listanumero

[1, 2, 3, 4, 7, 8, 9]

In [24]:

#dicionario 
#não ordena
#acesso por chaves
meu_dict ={"chave1": "valor1", "chave2":2, "chave3":[1,2,3]}
meu_dict

{'chave1': 'valor1', 'chave2': 2, 'chave3': [1, 2, 3]}

In [2]:

#dicionario adicionando mais um item (concatenando mais um indice)
joao = {"nome":"joão silva", "idade":57}
joao["altura"] = 1.82
joao

{'nome': 'joão silva', 'idade': 57, 'altura': 1.82}

In [28]:

#!tupla
#acesso por indice e é ordenado
minha_tupla = (1, "dois", 3)
lista = [1, "dois", 3]

#verificando que a tupla não é mutável
lista[1] = 2
minha_tupla[2] = 2

TypeError: 'tuple' object does not support item assignment

In [30]:

#set
# usa chaves
meu_set = {1,2,2,3,4,5,2}
meu_set
#conta apenas os itens que não se repetem
#não ordena
# .add() pra adicionar
# .remove() pra remover

{1, 2, 3, 4, 5}

In [14]:

#operações com strings
nome1 = "bea"
nome2 = "triz"

#concatenação
nome_completo = nome1+nome2
nome_completo

frase = "oi meu nome é" + " " +nome_completo
frase

idade = 24
frase_idade = "{} e eu tenho {} anos".format(frase, idade)
frase_idade

cidade = "salvador"
print(f"{frase_idade}. Eu moro em {cidade}")

#indexação (fatiar strings)
print(frase[:5])
print(frase[5:15])
print(frase[15:])

#replace (substituição)
nova_frase = frase.replace("beatriz", "chuu")
nova_frase

#strip (remove espaços em branco no inicio e no fim de uma string)
espaco = "        beatriz "
espaco
espaco = espaco.strip()
espaco

#split (fatiar frase em um array de strings)
frase_idade.split()

virgula = "oi, meu nome é beatriz"
virgula.split(",")

#upper e lower case
#upper
nome_completo = nome_completo.upper()
nome_completo
#lower
nome_completo = nome_completo.lower()
nome_completo

oi meu nome é beatriz e eu tenho 24 anos. Eu moro em salvador
oi me
u nome é b
eatriz

'beatriz'