# Salvando uma tabela
Podemos criar ou conectar a um banco de dados usando o comando **sqlite3.connect()**
Para salvar diretamente um dataframe utilize o método **to_sql()** do pandas
Lembre-se de fechar a conexão com **.close()**

In [3]:
import pandas as pd
import sqlite3

#conectando ao banco de dados
conn = sqlite3.connect('coderhouse.db')

# criando dataframe produtos
df_produtos = pd.DataFrame({
    'nome': ['ovos', 'manteiga', 'peixe'],
    'valor': [10, 20, 30]
})

# escrever o dataframe na tabela 'produtos'
df_produtos.to_sql('produtos', conn, if_exists='replace', index=False)

# fechar a conexão
conn.close()

# Leitura de dados
A função **read_sql()** permite executar uma consulta no banco de dados e retornar os resultados como um dataframe do pandas
**Lembre-se de abrir e fechar a conexão sempre**

In [4]:
#conectando ao banco de dados
conn = sqlite3.connect('coderhouse.db')

#consulta na tabela de produtos e converter para um dataframe
query = "SELECT * FROM produtos"
produtos_consulta = pd.read_sql(query, conn)
print(produtos_consulta)

#fechando conexão
conn.close()

       nome  valor
0      ovos     10
1  manteiga     20
2     peixe     30

# Listar as tabelas 
Para verificar as tabelas que estão no banco de dados, podemos utilizar a query: 
`` SELECT name
FROM sqlite_master
WHERE type='table' ``

In [5]:
conn = sqlite3.connect('coderhouse.db')

# consulta que retorna as informações do schema do db
query = "SELECT name FROM sqlite_master WHERE type='table'"
schema = pd.read_sql(query, conn)

# imprimir o dataframe com os nomes das tabelas
print(schema)

# fechando conexão
conn.close()

       name
0  fastfood
1  produtos